
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Melon Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for melon_id in cart %}
            <tr>
                <th>{{melons.get_by_id(melon_id).common_name}}</th>
                <th>{{cart[melon_id]}}</th>
                <th>{{melons.get_by_id(melon_id).price}}</th>
                <th>{{melons.get_by_id(melon_id).price*cart[melon_id]}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{total}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
